[Unit]
Description=Temperature logger service

[Service]
Type=idle
ExecStart=/usr/bin/python {CWD}/main.py
WorkingDirectory={CWD}

[Install]
WantedBy=multi-user.target
