[Unit]
Description=Temperature logger service

[Service]
Type=simple
ExecStart={CWD}/readtemp.py
WorkingDirectory={CWD}
Restart=always

[Install]
WantedBy=multi-user.target
